body{
  background-color: rgb(34, 33, 33);
  display: flex;
  justify-content: center;
  align-items: center;
}

body > div{
  background-color: rgb(107, 103, 103);
}
#login{
  width: 60vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;


}

#conversations{
  width: 60vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conversation{
  
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 2.5em;
  border-bottom: solid 1px black;

}

.conversation:hover{
  background-color: rgb(160, 154, 154);
}

.deleteMessage{
  border-radius: 50%;
  background-color: red;
  margin-left: 3rem;
}